extends layout

block page_title
  title Serbia Title

block greeting 
  h1 Serbian hi! 

block software_engineer
  p Serbian I'm going to be a SW engineer
  img(src="/images/earth.jpg"
      alt="La planète Terre"
      title="La planète Terre")
