extends layout

block page_title
  title Hello World!

block greeting 
  h1 Haro! 

block software_engineer
  p I'm going to be a sw eng.
  img(src="/images/earth.jpg"
      alt="Earth"
      title="Earth")
  p #{bobby}
